<aside class="sidebar">

    <div class="sidebar-brand">
        ✦ SALON
    </div>

    <nav>

        <a href="{% url 'customer_dashboard' %}">
            🏠 Dashboard
        </a>

        <a href="{% url 'booking' %}">
            📅 Book Appointment
        </a>

        <a href="{% url 'customer_bookings' %}">
            🧾 My Bookings
        </a>

        <a href="{% url 'customer_services' %}">
            ✂ Services
        </a>

        <a href="{% url 'customer_profile' %}">
            👤 My Profile
        </a>

        <hr>

        <a href="{% url 'logout' %}">
            🚪 Logout
        </a>

    </nav>

</aside>